html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

:root {
  --color-black: #000;
  --color-so-dark-gray: #333;
  --color-dark-gray: #666;
  --color-gray: #999;
  --color-light-gray: #CACACA;
  --color-so-light-gray: #ECECEC;
  --color-violet: #9D5CD0;
  --color-dark-violet: #7943A4;
  --color-light-violet: #C283F3;
  --color-so-light-violet: #D1A9F0;
  --color-green: #30BF39;
  --color-light-blue: #26A5E4;
  --color-red: #D11616;
  --color-white: #FFF;
}

@font-face {
  font-family: "OpenSans";

  src: local("OpenSansRegular"),
    url(../font/OpenSansRegular.woff2) format("woff2"),
    url(../font/OpenSansRegular.woff) format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";

  src: local("OpenSansBold"),
    url(../font/OpenSansBold.woff2) format("woff2"),
    url(../font/OpenSansBold.woff) format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";

  src: local("OpenSansSemiBold"),
    url(../font/OpenSansSemiBold.woff2) format("woff2"),
    url(../font/OpenSansSemiBold.woff) format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.container {
  max-width: 1700px;
  padding: 0 50px;
  margin: 0 auto;
}

body {
  font-family: "OpenSans", sans-serif;
  background-color: #fff;
}

h1,
h2,
h3,
p {
  margin: 0;
}



.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.descr {
  color: var(--color-so-dark-gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.main-title {
  margin: 0;
  color: var(--color-so-dark-gray);
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1rem;
  margin-bottom: 32px;
}

.second-title {
  margin: 0;
  color: #333;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
}

.descr-small {
  margin: 0;
  color: var(--color-gray);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


/*header*/

.header {
  background-color: var(--color-black);
}

.header__content {
  min-height: 100px;
  flex-wrap: wrap;
  align-items: center;
}

.header__link-logo {
  outline: none;
  margin-right: 179px;
}

.header__link_logo:focus-visible {
  outline: none;
}

.nav__link {
  position: relative;
  z-index: 1;
  color: var(--color-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  transition: color 0.3s ease-in-out;
}

.nav__link::after {
  content: '';
  position: absolute;
  left: -5px;
  bottom: -5px;
  top: -5px;
  right: -5px;
  opacity: 0;
  z-index: -1;
  background-color: var(--color-violet);
  transition: opacity 0.6s ease-in-out;
}

.nav__link:focus::after {
  opacity: 1;
}

.nav__link:focus {
  color: var(--color-white)
}

.nav__link:hover {
  color: var(--color-light-violet);
}

.nav__link:active {
  color: var(--color-dark-violet);
}

.nav__item:not(:last-child) {
  margin-right: 96px;
}

.nav__link:focus-visible {
  outline: none;
}

.header__btn-search {
  position: relative;
  z-index: 1;

}

.header__btn-search svg rect,
.header__btn-search svg path {
  transition: fill 0.3s ease-in-out;
}

.header__btn-search::after {
  content: '';
  position: absolute;
  left: -5px;
  bottom: -2px;
  top: -16px;
  right: -5px;
  z-index: -1;
  opacity: 0;
  background-color: var(--color-violet);
  transition: opacity 0.6s ease-in-out;
}

.header__btn-search:focus::after {
  opacity: 1;
}

.header__btn-search:hover svg rect,
.header__btn-search:hover svg path {
  fill: var(--color-light-violet);
}

.header__btn-search:active svg rect,
.header__btn-search:active svg path {
  fill: var(--color-dark-violet);
}

.header__btn-search:focus-visible {
  outline: none;
}

.nav {
  margin-right: auto;
}


/*hero*/

.hero {
  min-height: 700px;
  margin-bottom: 95px;
  background-image: url(/img/hero-decstop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -100px;
  align-items: center;
}

.hero__title {
  color: var(--color-white);
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 68px;
  margin-bottom: 20px;
}

.hero__descr {
  color: var(--color-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 92px;
}

.hero__btn {
  position: relative;
  padding: 22px 35px;
  margin-bottom: 80px;
  background-color: var(--color-violet);
  border-radius: 100px;
  color: var(--color-white);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero__btn:hover::after {
  outline: none;
  content: "";
  position: absolute;
  border: 3px solid var(--color-so-light-violet);
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border-radius: inherit;
  transition: border 0.3s ease-in-out;
}

.hero__btn:focus::after {
  content: "";
  position: absolute;
  outline: none;
  border: 2px solid var(--color-violet);
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  border-radius: inherit;
  transition: border 0.3s ease-in-out;
}

.hero__btn:active::after {
  outline: none;
  content: "";
  position: absolute;
  border: 3px solid var(--color-so-light-violet);
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border-radius: inherit;
  transition: border 0.2s ease-in-out;
}

.hero__btn:active {
  background-color: var(--color-dark-violet);
}

.hero__content {
  padding-top: 146px;
}

.hero__wrp-text {
  width: 34%;
}

/*about-us*/

.about-us__descr {
  width: 67%;
  margin-bottom: 70px;
}

/*gallery*/

.gallery {
  min-height: 595px;
  background-image: url(/img/gallery-bg-decstop.jpg);
  margin-bottom: 97px;
}

.gallery__title {
  padding-top: 95px;
  color: var(--color-white);
  margin-bottom: 33px;
}

.gallery__content {
  justify-content: space-between;
}

.radio {
  display: flex;
}

.radio__list {
  margin-right: auto;
  margin-top: auto;
}

.radio__label {
  position: relative;
  display: block;
  padding-left: 24px;
  color: var(--color-white);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  cursor: pointer;
}

.radio__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}

.radio__label .radio__real {
  position: absolute;
  content: '';
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  width: 12px;
  height: 12px;
  transform: translateY(-50%);
  border: 1px solid var(--color-white);
  transition: border-color 0.3s ease-in-out;
}

.radio__label .radio__text {
  transition: color 0.3s ease-in-out;
}

.radio__label:focus {
  color: var(--color-light-violet);
}

.radio__label:hover .radio__real {
  border-color: var(--color-light-violet);
}

.radio__text:focus {
  color: var(--color-light-violet);
}

.radio__label:active .radio__real {
  border-color: var(--color-light-violet);
}

.radio__label:active .radio__text {
  color: var(--color-light-violet);
}

.radio__label .radio__real::before {
  position: absolute;
  content: '';
  opacity: 0;
  width: 4px;
  height: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: var(--color-light-violet);
  transition: opacity 0.3s ease-in-out;
}

.radio__label input:checked~span {
  border-color: var(--color-light-violet);
}

.radio__label input:checked {
  color: var(--color-light-violet);
}

.radio__label input:checked~span::before {
  opacity: 1;
}

.image__item:not(:last-child) {
  margin-right: 50px;
}

.image__link:focus-visible {
  outline: none;
}

/*catalog*/

.catalog__descr {
  width: 69%;
  margin-bottom: 39px;
}

.product__item {
  display: flex;
}

@-moz-document url-prefix() {
  .product__wrp-text {
    width: 50%;
  }
}

.product__wrp-text {
  width: 50%;
}

.product__item img {
  margin-right: 50px;
  object-fit: cover;
}

.product__item:not(:last-child) {
  margin-bottom: 50px;
}

.product__title {
  margin-bottom: 10px;
}

.product__span {
  margin-bottom: 15px;
}

.product__wrp-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.catalog {
  margin-bottom: 95px;
}

/*doings*/

.doings-card__item {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
}

.doings-card__item img {
  width: 100%;
}

.doings-card__item:not(:last-child) {
  margin-right: 50px;
}

.doings-card__name {
  font-weight: 600;
}

.doings-card__event-date {
  font-weight: 600;
  margin-bottom: 15px;
}

.doings-card__title {
  margin-bottom: 10px;
}

.doings-card__descr {
  margin-bottom: 66px;
}



.doings-card__btn {
  position: relative;
  margin-top: auto;
  width: max-content;
  bottom: 0;
  color: var(--color-violet);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  border-bottom: 1px solid var(--color-violet);
  transition: border 0.3s ease-in-out, color 0.3s ease-in-out;
}

.doings-card__btn::after {
  content: '';
  position: absolute;
  left: -5px;
  bottom: -5px;
  top: -5px;
  right: -5px;
  opacity: 0;
  z-index: -1;
  background-color: var(--color-violet);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.doings-card__btn:focus-visible {
  outline: none;
  border: none;
}

.doings-card__btn:focus::after {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.doings-card__btn:focus {
  color: var(--color-white);
  border-color: var(--color-white);
  outline: none;
}

.doings-card__btn:hover {
  color: var(--color-dark-violet);
  border-bottom: 1px solid var(--color-dark-violet);
}

.doings-card__btn:active {
  color: var(--color-so-dark-gray);
  border-bottom: 1px solid var(--color-so-dark-gray);
}

.doings-card__wrp-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px 50px 39px 50px;
  border: 1px solid var(--color-light-gray);
}

.doings-card__wrp-btn {
  display: inline-block;
  margin-top: auto;
}

.doings {
  margin-bottom: 98px;
}

/*projects*/

.projects__descr {
  width: 67%;
  margin-bottom: 30px;
}

.projects__title-second {
  margin-bottom: 10px;
}

.projects-pairs__item {
  padding: 26px;
  border: 1px solid var(--color-light-gray);
}

.projects-pairs__item:not(:last-child) {
  margin-right: 34px;
}

.projects {
  margin-bottom: 80px;
}

/*footer*/

.footer-top {
  padding: 38px 0 38px 0;
  border-top: 1px solid var(--color-light-gray);
}

.footer-top-content__list {
  align-items: center;
  justify-content: space-between;
}

.form {
  margin: 0;
}

.form__input {
  width: 268px;
  padding: 15px 27px;
  border-radius: 50px;
  border: 1px solid var(--color-so-dark-gray);
  margin-right: 20px;
  transition: background-color 0.3s ease-in-out;
}

.form__input::placeholder {
  color: var(--color-gray);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

.form__input:focus-visible {
  outline: none;
  background-color: var(--color-so-light-gray);
}

.form__input:hover {
  background-color: var(--color-so-light-gray);
}

.form__input:focus {
  outline: none;
}

.label-name {
  position: relative;
}

.just-validate-error-label {
  position: absolute;
  top: -35px;
  left: 28px;
}

.label-tel {
  position: relative;
}

.form__btn {
  width: 329px;
  padding: 12px 33px;
  border-radius: 100px;
  border: 2px solid var(--color-violet);
  color: var(--color-violet);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.form__btn:focus-visible {
  outline: none;
}

.label-btn {
  position: relative;
}

.form__btn:focus::after {
  content: "";
  position: absolute;
  outline: none;
  border: 2px solid var(--color-violet);
  top: -19px;
  bottom: -17px;
  left: -2px;
  right: -2px;
  border-radius: inherit;
  border: 2px solid var(--color-light-violet);
  transition: border 0.3s ease-in-out;
}

.form__btn:active::after {
  content: '';
  position: absolute;
  outline: none;
  border: 3px solid var(--color-so-light-violet);
  border-radius: inherit;
  top: -18px;
  bottom: -16px;
  left: 0;
  right: 0;
  transition: border 0.3s ease-in-out;
}

.form__btn:active {
  background-color: var(--color-dark-violet);
  color: var(--color-white);
}

.form__btn:hover {
  background-color: var(--color-violet);
  color: var(--color-white);
}


.footer-top-social__link:not(:last-child) {
  margin-right: 17px;
}

.footer-top-social__link:focus-visible {
  outline: none;
}

.ic-social {
  transition: opacity 0.3s ease-in-out;
}

.footer-top-social__link {
  position: relative;
  display: inline-block;
}

.footer-top-social__link:focus svg {
  border: none;
  opacity: 0.5;
}

.footer-top-social__link:hover svg {
  opacity: 0.5;
}

.footer-top-social__link:active::after {
  position: absolute;
  content: '';
  border: 2px solid var(--color-violet);
  border-radius: 100px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.footer-top-social__link:active svg {
  opacity: 1;
}

.footer-bottom {
  height: 140px;
  background-color: var(--color-black);
}

.footer-botton-content {
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom__link:not(:last-child) {
  margin-right: 16px;
}

.footer-bottom__link:focus-visible {
  outline: none;
}

.ic-social-footer__bottom path {
  transition: fill 0.3s ease-in-out;
}

.footer-bottom__link:hover svg path {
  fill: var(--color-white);
}

.footer-bottom__link:focus svg path {
  fill: var(--color-white);
}

.footer-bottom__link:active svg path {
  fill: var(--color-violet);
}

.title-socal {
  margin-bottom: 2px;
}